
TensorFlow/AstroMl/astroML_tf_jake.py
TensorFlow/AstroMl/astroML_tf_jake.py
TensorFlow/AstroMl/AstroML_X_Test_rebalance_1_split_0_7.npy
TensorFlow/AstroMl/AstroML_X_Train_rebalance_1_split_0_7.npy
TensorFlow/AstroMl/AstroML_Y_Test_rebalance_1_split_0_7.npy
TensorFlow/AstroMl/AstroML_Y_Train_rebalance_1_split_0_7.npy
